.container{
    padding: 2rem;
    margin: -2rem 0rem 0rem 0rem;
}
.main-container{
    margin-top: 5rem;
    min-height: 99vh;
}
.top-header{
    display: flex;
    align-items: center;
    gap: 40rem;
    position: fixed;
    z-index: 999;
    background: #ffffff;
    width: 97%;
    background: rgb(250 250 250);
}
.logo-container{

}
.logo{
    width: 5rem;
    height: 5rem;
    mix-blend-mode: darken;
    cursor: pointer;
}
.header-menu-container{
    display: flex;
    gap: 3rem;
}
.menu-links{
    cursor: pointer;
    width: 5rem;
    display: flex;
    justify-content: center;
}
.menu-links:hover{
    color: gray;
}
.carousel-container{
    position: relative;
    width: 90rem;
    height: 24rem;
    padding: 1rem;
}
.carousel-image{
    height: 100%;
}
.carousel{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-inner-text{
    position: absolute;
    top: 9rem;
    left: 35rem;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
.carousel-text{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 6px;
    margin-bottom: 2rem;
}
.shop-now-button{
    width: 7rem;
    padding: 0.5rem;
    border: none;
    background: #000000;
    color: #ffffff;
    margin: 0rem 0rem 0rem 8rem;
    font-weight: 700;
}
.shop-now-button:hover{
    color: #000000;
    background: #ffffff;
}
.our-collection-container{
    padding: 0rem 1rem 1rem 1rem;
    
}
.our-collection{
    display: flex;
    flex-direction: column;
    background: #ffffff;
}
.our-collection-heading{
    display: flex;
    justify-content: center;
}
.our-collection-text{
    display: flex;
    justify-content: center;
    width: 50rem;
    margin-left: 23rem;
}
.product-collection{

}
.product-container{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(361px, 1fr));
}
.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-image{

}
.p-image{

}
.product-heading{
    width: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-title, .product-price{
    margin: 0;
}
.product-title{

}
.product-price{
    margin-bottom: 1rem;
    color: rgb(142,140,139);
}
.contact-us-container{
    padding: 1rem;
}
.contact-container{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}
.contact-description{

}
.contact-info-one{
    
}
.contact-title{

}
.contact-address{
    
}
.contact-phone{
    
}
.contact-email{
    
}
.contact-info-two{
    
}
.contact-shipping-method{

}
.contact-us-form{
    width: 30rem;
    padding: 1.5rem;
}
.contact-form{

}
.form-input{
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.submit-button{
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: #000000;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.submit-button:hover{
    background: gray;
    color: #000000;
}
.footer-container{
    padding: 0rem 1rem 1rem 1rem;
    
}
.footer-content{
    display: flex;
    justify-content: center;
    background: rgb(250 250 250);
}
.footer-text{

}