.header-container{
    
}
.header-logo{
    display: flex;
    background: burlywood;
}
.logo{
    height: 5rem;
    mix-blend-mode: difference;
}
.footer-container{
    width: 100%;
    background: burlywood;
}
.footer-inner-container{
    display: flex;
    gap: 25rem;
}
.footer-logo{
    display: flex;
    background: burlywood;
    justify-content: center;
    align-items: center;
}
.copyright,.contact-details,.contact,.contact-details,.contact-us,.phone-number,.follow-us{
    font-size: 18px;
    font-weight: 600;
}
.contact-us-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.extra-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
